/**variables*/
:root {
  --Bold700-font: "Amiri", serif;

  --Bold500-font: "Marhey", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f4f8;
}

/*Start navbar*/
nav {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

nav img {
  width: 50px;
}
nav .icons {
  display: flex;
  padding-top: 10px;
}
nav .icons i {
  margin-left: 20px;
  font-size: 30px;
  cursor: pointer;
}

/*End navbar*/

/*Start Header*/
header {
  background-image: url(../images/cool-background.png);
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
}
header h1 {
  font-size: 50px;
  font-family: var(--Bold500-font);
  color: #ffff;
  margin: 50px;
}
/*End Header*/

/*Start body*/
.body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 10px;
  gap: 30px;
}
.body a {
text-decoration: unset;
color: unset;
}

.body .body-container {
  width: 400px;
  height: 450px;
  /* background-color: #e9e9e994; */
  box-shadow: 2px 3px 20px 1px #0000002e;
  text-align: center;
  padding: 80px 20px;
}

.body .body-container:hover {
  background: rgba(228, 244, 241, 0.646);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1) !important;
  border-top: 5px solid rgb(119, 162, 125);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  z-index: 1;
  transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.body .body-container i {
  font-size: 200px;

  background: -webkit-linear-gradient(#008e9b, #00c9a7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body .body-container img {
  width: 200px;
}
.body .body-container h2 {
  margin-top: 60px;
  font-family: var(--Bold700-font);
}
/*End body*/

/*Start footer*/
footer {
  overflow: hidden;
  padding: 20px 100px 50px;
}
.bn47 {
  font-family: var(--Bold700-font);
  text-decoration: none;
  position: relative;
  float: left;
  padding: 1rem 2rem 0.5rem 2.5rem;
  color: #000000;
  border: 3px solid rgb(119, 162, 125);
  -webkit-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

.bn47:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bn47:hover {
  padding: 0.75rem 2.25rem;
}

.bn47:hover:before {
  top: 0;
  left: 0;
}
/* End footer*/

/*problem page*/

/*start problem-container*/
.problem-container {
  display: flex;
  justify-content: center;
}

.problem-container .problem-container-data {
  width: 70%;
}
/*end problem-container*/

/*start post problem page */
.post-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.main {
  margin-bottom: 50px;
}
.card {
  width: auto;
  height: auto;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(242, 245, 248, 1) 35%,
    rgba(236, 236, 237, 1) 100%
  );
  box-shadow: 0 13px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 30px;
  padding: 10px;
  transition: background-color 0.5s, box-shadow 0.5s, margin-left 0.5s;
}
.card:hover {
  background-color: #ffff;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s, box-shadow 0.5s, margin-left 0.5s;
}
.post {
  display: flex;
  flex-wrap: wrap;
}
.post-image {
  width: 320px;
  height: 250px;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 10px 10px 10px;
  float: left;
}
.post-content {
  width: 70%;
  height: auto;
  float: left;
  margin-left: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.post-text {
  font-size: 15px;
  padding-left: 20px;
  color: #768ca4;
  font-family: "Roboto", sans-serif;
}
.author {
  width: 60%;
  height: 130px;
  background-color: #f2f5f8;
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px 30px 5px 5px;
  display: flex;
  gap: 10px;
}
.author .chat {
  display: flex;
  gap: 10px;
  font-family: var(--Bold700-font);
  margin-top: 20px;
  width: 100px;
  background: #fff;
  height: 40px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.author .chat:hover {
  background-color: #00c9a729;
  transition: 1s ease;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
.author .chat i {
  margin-top: 5px;
}
.author-content {
  height: 60px;
  margin-left: 10px;
}
.author-name {
  font-size: 20px;
  color: #3b3c3f;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 10px;
}
.date {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  margin-top: -15px;
  padding-left: 10px;
}
/*End post problem page */

/*add product , add photo*/

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1fb264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1fb2646c;
  border: 4px dashed #ffffff;
  transition: 0.5s e;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #000000;
  padding: 60px 0;
  font-family: var(--Bold700-font);
}

/*products page*/
.card-list-container {
  padding: 50px;
}
.card-list-container .card-list-link {
display: flex;
justify-content: center;
}
.card-list-container .card-list-link a {
  text-decoration: none;
    color: #616161;
    padding: 10px 25px;
    background-color: #8bc34a8c;
    border-radius: 5px;
    font-size: 24px;
    font-family: var(--Bold700-font);
}

.card-list-container .card-list-link a:hover {
  color: #000000;
  background-color: #8bc34aec;
  transition: .5s ease;
}
.card-list-data-container{
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}
.card-list-container .card-list {
  width: 90%;
  max-width: 400px;
}

.card-list-container .card-list .card {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 20px 50px 0 rgba(#000, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;
}
.card:hover,
.card:focus-within {
  box-shadow: 0 0 0 2px #16c79a, 0 10px 60px 0 rgba(#000, 0.1);
  transform: translatey(-5px);
}

.card-image {
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  display: flex;
  justify-content: center;
}
.card-image img {
  width: 250px;
}

.card-header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.card-header p {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.25;
  padding-right: 1rem;
  text-decoration: none;
  color: inherit;
  will-change: transform;
}
.card-header p:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.icon-button {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 3px 8px 0 rgba(#000, 0.15);
  z-index: 1;
  cursor: pointer;
  color: #565656;
}

.icon-button svg {
  width: 1em;
  height: 1em;
}
.icon-button:hover,
.icon-button:focus {
  background-color: #ec4646;
  color: #fff;
}

.card-footer {
  margin-top: 1.25rem;
  border-top: none;
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
}

.card-meta {
  display: flex;
  align-items: center;
  color: #787878;
}

.card-meta:first-child:after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentcolor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
